<!-- templates/article_list.html 

object_list -->
{% extends 'base.html' %}
{% block title %}About{% endblock title %}

{% block content %}


<div class="row">

<h1 class="newH1">About</h1>
<h1 class="newH1"> Vins & Cépages</h1>

<p><b>"Le vin a de l'esprit"</b></p>

<p>A partir de cette idée, pour apprendre et partager, j'ai pensé développer un site sur le vin et ce qui donne une bonne partie de son esprit: les cépages.</p>


<p>Encore beaucoup de travail sur ce site mais ça avance…</p>

<p>LV design à votre service.</p>

</div><!-- END ROW -->

{% endblock content %}