<!-- templates/article_list.html object_list -->
{% extends 'base.html' %}


{% block title %} Les vins de {{ category.name | upper }}

{% endblock title %}


{% block content %}
<h3>{{ category.name | upper  }} </h3>
<p>{{ category.description_cat|safe }}</p>


<div class="category-entry"> 
  
    <small><b>Les vins du sites :</b></small>
    {% for cat in category.categories.all %}      
    <h3 property="v:name" class="entry-title fn font-weight-bold"> <a href="{%  url 'vins:vin_detail' cat.slug %}">{{ cat.slug}}</a></h3>
    {% if not foorloop.last%}{% endif %}
    {% endfor %}
</div>

    <!-- categories liste -->
    {% load vins_plus %}
    <div class="list-group category ">
      <small><b>Liste des categories :</b></small>
        {% get_category_list %}    

    </div>


    <p>
      <small>
        <a href="{% url 'vins:vin_list' %}">Retour aux vins -></a>
      </small>
    </p>

</div><!-- ENDvin-entry-->

{% endblock %}
