<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %} - Home {% endblock title %}


{% block content %}   


<div class="row" >
    <div class="col-sm">
      <h2>Tous les vins</h2>
        <p> Accedez à la liste complete des vins du site "Vin & Cépage" </p>
        <p><a class="btn btn-outline-secondary" href="{% url 'vins:vin_list' %}"
            role="button">Liste des vins</a></p>
         
      </div>
    

      <div class="col-sm">
        <h2>Derniers vins…</h2>
        {% if images %}
        <div id="my_rotator" >
            {% for vin in images %}
            <figure >
                <img src="https://res.cloudinary.com/lvcloud/image/upload/v1624885333/{{ vin.image }}" alt="{{ vin.title }}" class="myImages" height="300" />
                <figcaption class="figure-caption" ><b> <a href="{{ vin.get_absolute_url }}" >{{ vin.title }} </a></b></figcaption>
            </figure>          
        {% endfor %}
        </div>
    {% endif %}
      </div>
      
      <div class="col-sm">
        <h2>Tendances</h2>
        <p>Hello</p>
      </div>

   





</div><!-- END ROW -->

{% endblock content %}