<!-- templates/tag_detail.html -->
{% extends 'base.html' %}

{% block title %} 
Les vins de {{ tag.name | upper }}
{% endblock title %}
{% load static %} 

{% block content %}

<picture>
  <source srcset="{%  static 'img/cepage-vendanges.webp' %}" type="image/webp">
  <img src="{%  static 'img/cepage-vendanges.jpg' %}" class="myImages img-fluid" alt="cepage">
</picture>

<div class="jumbotron p-4 pmd-5 text-white bg-dark">
  <div class="col-md-8 px-0">    
    <h1 class="display-4 font-italic">{{ tag.name | upper  }} </h1>
    <p class="lead my-3">{{ category.description_tag|safe }}</p>
  </div>
</div>

<div class="vin-entry">
   
  <div class="tag-entry">
    
    <small><b>Les vins sur le site :</b></small>
    {% for tag in tag.tags.all %}   
    <h3 class="entry-title fn font-weight-bold"> <a href="{%  url 'vins:vin_detail' tag.slug %}">{{ tag.slug }} </a></h3>
    
    {% if not foorloop.last%}{% endif %}
    {% endfor %}
  </div>

   <!-- Tags liste -->
  {% load vins_plus %}
  <div class="list-group tag">
    <small><b>Liste des cépages : </b></small>
    {% get_tag_list %}   
  </div>

  
  <p>
    <small>
      <a href="{% url 'vins:vin_list' %}">Retour aux vins -></a>
    </small>
  </p>

</div>

{% endblock content %}