<!-- templates/article_detail.html 
https://res.cloudinary.com/lvcloud/image/upload/v1633592831/media/vinslv/basket_sjgzj9.png-->
{% extends 'base.html' %}
{% block content %}
{% load humanize %}
<div class="row">
    
   <div class="col-sm">
    <img src="https://res.cloudinary.com/lvcloud/image/upload/v1624885333/{{ vin.image }}" alt="{{ vin.title }}" class="align-self-start mr-3 myImages"   width=300 />

   </div>  
        
        <div class="col-sm media-body">
            <h1 class="mt-0 card-title">{{ vin.title }}</h1>

            <p><b>by {{ vin.author }}</b> | {{ vin.created | date }}</p>

            <h4 class="mb-4">{{ vin.decription }}</h4>

            <p><b>Prix : </b> {{ vin.price }} €</p>
            <p><b>Boutique :</b> {{ vin.boutique }}</p>

            <p><b>Région :</b> <a href="{% url 'vins:category_detail' vin.category %}">{{ vin.category | capfirst}}</a></p>
            <ul><b>Cépage :</b> 
                {% for t in vin.tag.all %}
                    <li><a href="{% url 'vins:tag_detail' t.slug %}">{{ t.name | capfirst }}  </a>    </li>  
                    {% if not foorloop.last%}{% endif %}
                {% endfor %}        
            </ul>
        
            <p> {{ vin.score }} <i class="fa fa-glass" aria-hidden="true"></i></p>
          

            {% if vin.author == user %}            
            <hr>
            <!-- auteur -->
            <p>
                <a href="{% url 'vins:vin_edit' vin.slug %}">Edit</a> |
                <a href="{% url 'vins:vin_delete' vin.slug %}">Delete</a>
            </p>
            <hr>
            {% endif %}

        <div>

        {# comment #}
        <hr class="mt-5">
        <h6>Commentaires</h6>
        
        {% for comment in comments %}        
        <ul>        
            <li><b> {{ comment.text }} </b><span><small>({{ comment.updated_at|naturaltime }})</small></span>
                {% if user == comment.author %}
                <span><a href="{% url 'vins:vin_comment_delete' comment.id %}"><i class="fa fa-trash"></i></a></span>
                {% endif %}
            </li>
        </ul>
        {% endfor %}

        {% if user.is_authenticated %}       
       
        {% load crispy_forms_tags %}
        <form method="post" action="{% url 'vins:vin_comment_create' vin.slug %}">
            {% csrf_token %}
            {{ comment_form|crispy }}
            
        <input type="submit" class="btn btn-outline-secondary btn-sm" value="Soumettre un commentaire (140 max.)">
        
        </form>
        </p>
        {% endif %}
        {# comment #}
            </div>

            <hr class="mb-5">
           
            <p>
                <a href="{% url 'vins:vin_list' %}" class="btn btn-light"> Retour aux vins </a>
            </p>
         
        </div> 

        

        

       
 
    
    </div>

</div>


{% endblock content %}