
body {
    padding-top: 5rem;
  }
        
.vin-template {
    padding: 3rem 1.5rem;  
  }

/* FONT - Typographie
Oswald:wght@700&
Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&
Roboto:ital,wght@0,300;1,300&display
font-family: 'Oswald', sans-serif
font-family: 'Roboto', sans-serif;
font-family: 'Playfair Display', serif;
*/
.newH1{
  font-size: 10rem;
  line-height: .9;
}
@media (max-width: 575.98px) { 
  .newH1{
    font-size: 5rem;
  }
}

p {font-family: 'Roboto', sans-serif; font-weight: 400;}

p strong { font-weight: bold;}
  
b {font-family: 'Oswald', sans-serif;font-weight: 700;}

h1, h3, h5, nav .navbar-brand {font-family: 'Playfair Display', serif; font-weight: 400;}

h2 { font-family: 'Roboto', sans-serif; font-weight: 400;}




/* New style*/  
ul{
    padding:0;
  }
ul > li {    
    list-style: none;
    text-decoration: none;
}
a.nav-link:hover{ color: rgb(145, 20, 20) !important;}

.container a { color: rgb(145, 20, 20) !important;}

.card-title{
    
    /*font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;*/
}
  
/* EFFET Fancy Images */
  .myImages{      
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      -webkit-transition: .3s ease-in-out;
      transition: .3s ease-in-out;
  }
  .myImages:hover {
      -webkit-filter: grayscale(0);
      filter: grayscale(0);
  }
  
  
/* Home page Rotator action */
  #my_rotator {
      width: auto;
      height: 350px;	
      border: 1px solid #ccc;
  }
  #my_rotator figure {
      display: none;
      text-align: center;
      margin: 1rem 0;
      
  }