
body {
    padding-top: 5rem;
  }
        
.vin-template {
    padding: 3rem 1.5rem;  
  }

/* FONT - Typographie
Oswald:wght@700&
Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&
Roboto:ital,wght@0,300;1,300&display
font-family: 'Oswald', sans-serif
font-family: 'Roboto', sans-serif;
font-family: 'Playfair Display', serif;
*/
.newH1{
  font-size: 9.5rem;
  line-height: .9;
}
@media (max-width: 575.98px) { 
  .newH1{
    font-size: 5rem;
  }
}

/* si mot trop long -> coupe*/
.overF{
  overflow-wrap: break-word;
}


p {font-family: 'Roboto', sans-serif; font-weight: 400;}

p strong { font-weight: bold;}
  
b {font-family: 'Oswald', sans-serif;font-weight: 700;}

h1, h3, h5, h6, nav .navbar-brand {font-family: 'Playfair Display', serif; font-weight: 400; }

h2 { font-family: 'Roboto', sans-serif; font-weight: 400;}

/*commentaire*/
h6{font-size: 2rem;}

/* txt description*/
h4 {font-family: 'Playfair Display', serif; font-weight: 400; font-style: italic; line-height: 1.5;}


/* New style*/  
ul{
    padding:0;
  }
ul > li {    
    list-style: none;
    text-decoration: none;
}
/* access */
a.nav-link:hover{ color: rgb(145, 20, 20) !important;}
.container a { color: rgb(145, 20, 20) !important;}

/* title */
h5, .card-title{ font-size: 3rem;}


  
/* EFFET Fancy Images */
  .myImages{      
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      -webkit-transition: .3s ease-in-out;
      transition: .3s ease-in-out;
  }
  .myImages:hover {
      -webkit-filter: grayscale(0);
      filter: grayscale(0);
  }
  
  
/* Home page Rotator action */
  #my_rotator {
      width: auto;
      height: 350px;	
      border: 1px solid #ccc;
  }
  #my_rotator figure {
      display: none;
      text-align: center;
      margin: 1rem 0;
      
  }